  .no-print{
    display:none;
  }
  .carta {
    margin-right: 0px;
}
body{
  margin-right: 0px;
  size-adjust: 100%;
}
.logo-container {
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
}
.logo {
  width: 50px; /* Tamaño de los logos */
  height: 50px;
  padding: .4em;
}

h4 {
  
  font-size: 25px;
  text-align: justify;
  padding: .2em;
  margin-left: auto;
}
h1{

    
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    font-family:Verdana;
    text-shadow:none;

}


  @media print {
    /* Tamaño de fuente para A4 */
    @page {
      size: A4;
      margin: 2cm;
    }
    body {
      font-size: 12pt;
    }
  
    /* Tamaño de fuente para Carta */
    @page {
      size: letter;
      margin: 1in;
    }
    body {
      font-size: 10pt;
    }
    h2, h3, h4, h5, h6 {
      page-break-inside: avoid;
  }  
  #FormacionAcademica, 
    #FormacionComplementaria, 
    #ExperienciaLaboral, 
    #Practicas, 
    #Tecnologias, 
    #Enlaces {
    page-break-inside: avoid;
  }
  .lenguaje {

    font-style: bold;
    font-size: 10pt;
    color: black;
    text-shadow: none;
  }
  .logo-container {
    margin-left: 10px;
    align-items: center;
    gap: 5px;
    flex-basis: calc(25% - 20px);
    text-align: center;
}}






  @media print {
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      background-color: #333;
      color: white;
    }
  }


  