body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #95aaae19; 
    color: whitesmoke;
    margin: 0;
    padding: 0;
    size-adjust: 85%;
    margin-right: 250px;
}
/* h1 {
    color: #0a0333c8; 
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    font-family:Verdana;
    size-adjust: 85%;
    margin-left: 20px;
} */

h2 {
    color: #454298;
    font-size: 24px;
    margin-bottom: 10px;
    font-family:Verdana;
    size-adjust: 85%;
    margin-left: 20px;
}



h3 {
    color: #454298; 
    font-size: 15px;
    margin-bottom: 10px;
    font-family:Tahoma;
    font-variant: small-caps;
    size-adjust: 85%;
    margin-left: 20px;
}

h4 {
    color: whitesmoke; 
    font-size: 25px;
    padding: .2em;
    size-adjust: 85%;
    
}

#habilidades{
    color: whitesmoke; 
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #5554ad;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
    size-adjust: 15%;
}

nav a {
    color: whitesmoke; 
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
nav a:hover {
    background-color: rgba(113, 81, 209, 0.367);
    padding: .25em;
}

section {
    background-color: #372c72; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    size-adjust: 85%;
}


ul {
    list-style-type: circle;
    padding: 0;
    margin-left: 3em;
    margin-bottom: 5px;
}

ul li {
    margin-bottom: 10px;
}

ul li:last-child {
    margin-bottom: 0;
}

section {
    padding: 20px;
    size-adjust: 85%;
}

/* Estilo para ocultar todas las secciones excepto la primera */
section:not(:first-child) {
    display: none;
}

.logo-container {
    margin-left: 20px;
    align-items: center;
    /* Centra verticalmente los elementos dentro del contenedor */
    gap: 10px;
    /* Espacio entre los elementos */
    flex-basis: calc(25% - 20px);
    /* 25% width with 20px margin */
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    /* Tamaño de los logos */
    height: 100px;
    padding: .4em;
    border: solid rgb(83, 3, 255) 3px;
    border-radius: 30%;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.lenguaje {
    font-style: bold;
    font-size: 30px;
    color: #ffffff;
    text-shadow:
        -1px -1px 0 rgb(83, 3, 255),
        1px -1px 0 rgb(83, 3, 255),
        -1px 1px 0 rgb(83, 3, 255),
        1px 1px 0 rgb(83, 3, 255);
    font-size: 18px;
    margin-bottom: 10px;
}

/* BARRA DE PROGRESO */
progress {
    appearance: none;
    /* Elimina los estilos predeterminados del navegador */
    background-color: #d3d3d3;
    /* Cambia el color de fondo */
    width: 200px;
    /* Mismo ancho que el logo */
    display: flex;
}

progress::-webkit-progress-bar {
    background-color: #fff6f6;
    /* Cambia el color de fondo en Chrome */
}

progress::-webkit-progress-value {
    background-color: #5c7bdb
}

progress::-moz-progress-bar {
    background-color: #5c7bdb
}

button {
    background-color: #3d56d3;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button:hover {
    background-color: #246991;
    /* Cambio de color de acento al pasar el cursor */
}

#btn-print {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Estilo de trabajos */

.puesto {
    text-decoration: underline;
    font-size: large;
}

.empresa {
    font-variant: small-caps;
}

.descripcion {
    font-style: italic;
}
#icono{
    width: 15px;
    height: 15px;
}
/* IMAGEN */
#foto {
    border: solid white .5em;
    border-radius: 50%;
}

footer {
    background-color:  #19233175;
    color: whitesmoke;
    text-align: end;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    padding: .5em;
  
    
        
}
#link{
    width: 60px;
    height: 60px;
    padding: .4em;
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 30%;
    margin-left: 20px;
    text-align: inherit;
    align-items: center;
}
#icono{
    padding: .30em whitesmoke;
    border-radius: 40%;
    border: solid whitesmoke;
    background-color: whitesmoke;
}
#listadatos{
    list-style-type: none;
    margin-left: auto;
}
@media screen and (max-width: 480px) {
    body {
        margin-right: 0;
        margin-top: 180px;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #5554ad;
        padding: 5px 0;
        /* Reducir el padding */
        box-sizing: border-box;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    nav a {
        color: whitesmoke;
        text-decoration: none;
        margin: 5px;
        /* Reducir el margen entre elementos */
       
        /* Reducir el padding */
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: rgba(113, 81, 209, 0.367);
    }

    #footer {
        font-size: 12px;
        padding: 5px;


    }
    #btn-print {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 40%;
    }
    h1, h2, h3{ margin-left: 20px;}
}